/* Global styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

html,
body,
#root {
  height: 100%;
  width: 100%;
  background: white;
  overflow-x: hidden;
}

/* MainScreen Section */
.mainscreen {
  height: 100vh;
  width: 100%;
  background: url("../assets/image2.avif") no-repeat center center/cover;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
  padding: 0 2rem;
  color: white;
}

.mainscreen::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 0;
}


.carousel {
  position: relative;
  z-index: 1;
  background-color: #1a202c;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3);
  max-width: 95%;
  width: 600px;
  text-align: left;
  color: white;
  padding-left: 3rem; /* Adjusted padding to leave space for left arrow */
  padding-right: 3rem; /* Adjusted padding to leave space for right arrow */
}

.carousel-slide h2 {
  font-size: 2.2rem; /* Increase title size */
  font-weight: bold;
  margin-bottom: 1.5rem;
  border-bottom: 3px solid #388da7;
  text-align: center;
}

.carousel-slide p {
  font-size: 1.4rem; /* Increase paragraph size */
  line-height: 1.8; /* Improve readability */
  font-weight: 400;
  text-align: center;
}

.carousel-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
  border: none;
  font-size: 4rem;
  color: #388da7; /* Default color */
  cursor: pointer;
  z-index: 2;
  padding: 0 1rem;
}

.carousel-button:hover {
  color: #45a049; /* Green color on hover */
  background-color: transparent; /* Ensure background doesn't change */
}

.carousel-button.left {
  left: -20rem; /* Positioned to the left side */
}

.carousel-button.right {
  right: -20rem; /* Positioned to the right side */
}

/* Footer */
footer {
  background: #1a202c;
  color: white;
  text-align: center;
  padding: 10px;
  width: 100%;
  position: relative;
  bottom: 0;
}