@import url('https://fonts.googleapis.com/css2?family=Arial:wght@400;500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

html, body, #root {
  height: 100%;
  width: 100%;
  background: white;
  overflow-x: hidden;
}

.login-container {
    display: flex;
    justify-content: flex-start;  /* Aligns the content to the left */
    align-items: center;  /* Vertically centers the card */
    height: 100vh;  /* Full screen height */
    width: 100vw;  /* Full screen width */
    padding-left: 20px;  /* Optional: Adds padding on the left for some spacing */
    background-image: url('../assets/login_picture.avif');  /* Path to your background image */
    background-size: cover;  /* Ensures the image covers the entire container */
    background-position: center;  /* Centers the image in the container */
    background-repeat: no-repeat;  /* Prevents repeating the image */
  }

  .login-content {
    margin-top: 150px; /* Pushes everything down */
}
  
  .login-name {
    font-family: 'Arial', sans-serif;
    font-size: 55px;
    font-weight: bold;
    color: #1a202c;  /* Match the theme color */
    margin-top: -10px; /* Adds a little space between the logo and the name */
    margin-bottom: 4px; /* Space between the name and the login card */
    margin-left: 175px;
  }

  .login-card {
    /* background: rgba(255, 255, 255, 0.8); */
    background: transparent;
    padding: 20px;
    border-radius: 8px;
    /* box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); */
    text-align: center;
    max-width: 400px;
    width: 100%;
    margin-left: 90px;
    margin-bottom: 110px;
  }

  .title-and-logo {
    /* background: rgba(255, 255, 255, 0.8); */
    background: transparent;
    padding: 0px;
    border-radius: 8px;
    /* box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); */
    text-align: center;
    max-width: 400px;
    width: 100%;
    margin-left: -22px;
    margin-bottom: 10px;
  }

  /* .login-logo {
    width: 250px; 
    height: auto;
    margin-bottom: -10px;
    margin-left: 197px;
    }

  
  .login-title {
    font-family: 'Arial', sans-serif;
    margin-bottom: 16px;
    font-size: 24px;
    font-weight: bold;
  } */
  
  .login-input {
    width: 100%;
    padding: 10px;
    margin-bottom: 12px;
    background-color: #ccc;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .forgetPassport_button {
    background: transparent;
    border: none;
    color: #1a202c;
    font-size: 16px;
    cursor: pointer;
    padding: 5px 10px;
    margin-top: -2px;
    margin-right: 15px;
    margin-left: 20px;
    margin-bottom: 5px;
}

.forgetPassport_button:hover {
  text-decoration: underline;
  color: #388da7;
  background-color: transparent;
}

.patientLogin_button {
  background: transparent;
  border: none;
  color: #1a202c;
  font-size: 16px;
  cursor: pointer;
  padding: 5px 10px;
  margin-top: 21px;
  margin-right: 15px;
  margin-left: 11px;
  margin-bottom: 5px;
}

.patientLogin_button:hover {
  text-decoration: underline;
  color: #388da7;
  background-color: transparent;
}
  .login-button {
    font-family: 'Arial', sans-serif;
    padding: 10px 20px; /* Adjust padding to make it smaller */
    background-color: #1a202c;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    display: block; /* Ensure it behaves like a block element */
    margin: 0 auto; /* Centers the button horizontally */
    color: white;
}

  
  .login-button:hover {
    background-color: #388da7;
  }
  