body, html {
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5f5f5;
}

.form-container {
  width: 100%;
  max-width: 800px;  /* Set a max-width for responsiveness */
  padding: 20px;
  background-color: #ffffff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

h2, h3 {
  text-align: center;
}

.family-member-section {
  background-color: #f9f9f9;
  padding: 20px;
  margin-top: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.family-member-header {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 10px;
  color: #388da7;
}

.family-member-details {
  margin-top: 10px;
}

label {
  font-weight: bold;
  display: block;
  margin-top: 10px;
}

select, input[type="text"], input[type="date"] {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.conditions-checkboxes {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

button {
  background: #388da7;;
  color: #fff;
  padding: 10px;
  border: none;
  width: 100%;
  margin-top: 15px;
  cursor: pointer;
  border-radius: 4px;
}

button:hover {
  background: #388da7;
}

button[type="button"] {
  background: #388da7;
  margin-top: 20px;
}

/* Modal Styles */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
  width: 300px;
}

.modal button {
  background-color: #4CAF50;
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
  margin-top: 10px;
}

.modal button:hover {
  background-color: #45a049;
}
