.profile-page {
    display: flex;
    justify-content: right;
    align-items: center;
    width: 100%;
    height: 100vh;
    padding: 20px;
    background-color: white;
    /*flex-direction: column; 
    justify-content: space-between; 
    min-height: 100vh; Ensures it takes up the full page height/*

}

.profile-container {
    margin-top: 512px;
    display: flex;
    justify-content: right; /* Pushes profile section to the right */
    align-items: center;
    width: 100%;
    padding: 20px;
}

.profile-picture-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 50px;
    margin-top: 10px;
}

.profile-picture {
    margin-right: 40px; /* Space between picture and profile info */
    margin-left: 60px;
    margin-top: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-picture img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    border: 3px solid #003366;
    object-fit: cover;
}

.profile-info {
    display: flex;
    flex-direction: column;
    width: 900px;
    padding: 20px;
    border: 3px solid #003366;
    border-radius: 10px;
    background-color: white; /* Dark blue background */
    color: #003366; /* Dark blue background */;
    text-align: right;
}

.profile-info label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
    font-weight: bold;
    font-size: 23px;
}

.profile-info input {
    padding: 8px;
    padding-bottom: 50px;
    width: 70%;
    border: 1px solid #ccc;
    border-radius: 50px;
    background-color: #ffffff;
    color: #003366;
    text-align: left;
    font-size: 19px;
}

button {
    padding: 10px;
    background-color: #003366;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 15px;
}

button:hover {
    background-color: #0056b3;
}

/* Footer Styles */
.profile-footer {
    width: 100%;
    text-align: center;
    padding: 15px;
    background-color: #003366;
    color: white;
    font-size: 14px;
    position: relative; /* Removes absolute positioning */
    margin-top: auto; /* Pushes it to the bottom */
    margin-right: auto;
    margin-bottom: 0px;
}
